[Unit]
Description=brmgr
After=network.target
Before=lxc.service lxc@.service

[Service]
Type=simple
ExecStartPre=@bindir@/brmgr-pre
ExecStart=@bindir@/brmgr --pid-file
ExecStopPost=@bindir@/brmgr-post
